.advantages {
    position: relative;
    z-index: 2;
    margin-bottom: -130px;
    padding-top: 185px;
    padding-bottom: 280px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.no-js .advantages,
.no-webp .advantages {
    background-image: url("img/bg/advantages.png");
}

.webp .advantages {
    background-image: url("img/bg/advantages.webp");
}

.advantages__title {
    margin-top: 0;
    margin-bottom: 160px;
}

.advantages__info-box {
    margin: 0 auto 55px;

    &:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1200px) {
    .advantages__title {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 768px) {
    .advantages {
        margin-bottom: -230px;
    }
}
