.advantages {
    position: relative;
    z-index: 1;
    margin-bottom: -130px;
    padding-top: calc(110px + 75px);
    padding-bottom: calc(150px + 130px);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.no-js .advantages,
.no-webp .advantages {
    background-image: url("img/bg/advantages.png");
}

.webp .advantages {
    background-image: url("img/bg/advantages.webp");
}

.advantages__title {
    margin-top: 0;
    margin-bottom: 160px;
    color: $gray;
}

.advantages__info-box {
    margin: 0 auto 55px;

    &:last-child {
        margin-bottom: 0;
    }
}