.button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 19px 30px;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.25;
    font-family: "Ubuntu", Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: normal;
    color: #432b0c;
    text-shadow: 0 1px rgba(255, 255, 255, .6);
    box-shadow: inset 0 11px 15px rgba(251, 224, 193, .49);
    cursor: pointer;
    background-color: $color-main;
    background-image: linear-gradient(to bottom, #f8cd6c, #e59c42 70%, #d26b18 100%);
    border: none;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: all .3s;

    &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: #af6931;
        border-radius: 5px;
        transform: translateZ(-1px);
        transition: all .3s;
    }

    &:hover,
    &:focus {
        background-image: linear-gradient(to bottom, #e8a005 30%, #d26105 100%);
        transform: translateY(2px);

        &::before {
            height: 90%;
        }
    }

    &--inclined {
        transform: skewX(-18deg);

        &:hover,
        &:focus {
            transform: translateY(2px) skewX(-18deg);
        }

        span {
            display: block;
            transform: skewX(20deg);
        }
    }

    &--stroke {
        padding-top: 17px;
        padding-bottom: 17px;
        color: $color-main--light;
        text-shadow: none;
        background: 0 0;
        border: 2px solid $color-main--light;
        box-shadow: none;

        &::before {
            display: none;
        }

        &:hover,
        &:focus {
            color: #432b0c;
            background-color: $color-main--light;
            background-image: none;
        }
    }

    &--with-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        padding-top: 16.5px;
        padding-bottom: 16.5px;

        svg {
            transition: all .15s ease-out;
        }

        &:hover svg {
            fill: #ffd08a;
            animation: .6s shake-custom;
        }
    }
}

.button__icon {
    display: flex;
    align-items: center;
    height: 27px;
    margin-left: 15px;
}

