.callouts {
    padding: 0;
    list-style: none;
}

/***** callouts item *****/
.callouts__item {
    position: absolute;
    z-index: 2;
    cursor: pointer;

    &:hover {
        z-index: 3;

        .callouts__pointer::after {
            transform: translate(0, -50%) scale(1.7);
            transform-origin: center;
        }

        .callouts__img-box {
            opacity: 1;
            visibility: visible;
            transition: opacity .3s ease-in;
        }
    }

    &--jacket--1 {
        bottom: 570px;
        left: -100px;
    }

    &--jacket--2 {
        bottom: 340px;
        left: -65px;
    }

    &--jacket--3 {
        top: 390px;
        left: -65px;
    }

    &--jacket--4 {
        top: 630px;
        left: -40px;
    }

    &--jacket--5 {
        right: -110px;
        bottom: 520px;
    }

    &--jacket--6 {
        right: -160px;
        bottom: 350px;
    }

    &--jacket--7 {
        right: -160px;
        bottom: 120px;
    }

    &--jacket--8 {
        top: 625px;
        right: -105px;
    }

    &--pants--1 {
        bottom: 970px;
        left: -45px;
    }

    &--pants--2 {
        bottom: 695px;
        left: 15px;
    }

    &--pants--3 {
        top: 395px;
        left: -105px;
    }

    &--pants--4 {
        bottom: 255px;
        left: -120px;
    }

    &--pants--5 {
        top: 890px;
        left: -30px;
    }

    &--pants--6 {
        bottom: 960px;
        right: 30px;
    }

    &--pants--7 {
        bottom: 550px;
        right: 45px;
    }

    &--pants--8 {
        top: 615px;
        right: -90px;
    }

    &--pants--9 {
        top: 865px;
        right: -60px;
    }

    &--half-bombardment--1 {
        bottom: 1180px;
        left: 7px;
    }

    &--half-bombardment--2 {
        bottom: 960px;
        left: 0;
    }

    &--half-bombardment--3 {
        bottom: 645px;
        left: -100px;
    }

    &--half-bombardment--4 {
        bottom: 295px;
        left: -130px;
    }

    &--half-bombardment--5 {
        top: 1280px;
        left: -70px;
    }

    &--half-bombardment--6 {
        right: 40px;
        bottom: 1100px;
    }

    &--half-bombardment--7 {
        right: -15px;
        bottom: 570px;
    }

    &--half-bombardment--8 {
        right: -140px;
        bottom: 327px;
    }

    &--half-bombardment--9 {
        top: 1245px;
        right: -70px;
    }
}

/***** callouts txt *****/
.callouts__txt {
    margin: 0;
    padding: 15px;
    font-size: 23px;
    line-height: 1.25;
    font-family: "Ubuntu", Tahoma, sans-serif;
    color: #edecec;
    background-color: #0e0f0f;
    background-image: linear-gradient(to left, #040201 0%, #0e0d0c 70%, #181717 100%);
    border-radius: 2px;


    &--jacket--1 {
        width: 470px;
    }

    &--jacket--2 {
        width: 285px;
    }

    &--jacket--3 {
        width: 285px;
    }

    &--jacket--4 {
        width: 430px;
    }

    &--jacket--5 {
        width: 430px;
    }

    &--jacket--6 {
        width: 395px;
    }

    &--jacket--7 {
        width: 375px;
    }

    &--jacket--8 {
        width: 465px;
    }

    &--pants--1 {
        width: 380px;
    }

    &--pants--2 {
        width: 265px;
    }

    &--pants--3 {
        width: 410px;
    }

    &--pants--4 {
        width: 410px;
    }

    &--pants--5 {
        width: 360px;
    }

    &--pants--6 {
        width: 360px;
    }

    &--pants--7 {
        width: 320px;
    }

    &--pants--8 {
        width: 455px;
    }

    &--pants--9 {
        width: 360px;
    }

    &--half-bombardment--1 {
        width: 320px;
    }

    &--half-bombardment--2 {
        width: 275px;
    }

    &--half-bombardment--3 {
        width: 415px;
    }

    &--half-bombardment--4 {
        width: 415px;
    }

    &--half-bombardment--5 {
        width: 370px;
    }

    &--half-bombardment--6 {
        width: 345px;
    }

    &--half-bombardment--7 {
        width: 320px;
    }

    &--half-bombardment--8 {
        width: 455px;
    }

    &--half-bombardment--9 {
        width: 360px;
    }
}

/***** callouts pointer *****/
.callouts__pointer {
    position: absolute;
    z-index: 2;
    height: 2px;
    background-color: #e8a82d;
    pointer-events: none;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        display: block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #f2811b;
        background-image: linear-gradient(300deg, #fc5909 0%, #f2811b 48%, #e8a82d 100%);
        transform: translate(0, -50%);
        pointer-events: all;
    }

    &::before {
        left: -8.5px;
    }

    &::after {
        right: -8.5px;
        transition: all .3s ease-in;
    }

    &--jacket--1 {
        bottom: 0;
        left: 325px;
        width: 290px;
        transform: rotate(25deg);
        transform-origin: 0;
    }

    &--jacket--2 {
        bottom: 28px;
        left: 100%;
        width: 195px;
        transform-origin: 0;
    }

    &--jacket--3 {
        top: 28px;
        left: 100%;
        width: 165px;
        transform: rotate(-27deg);
        transform-origin: 0;
    }

    &--jacket--4 {
        top: 28px;
        left: 100%;
        width: 135px;
        transform: rotate(-23deg);
        transform-origin: 0;
    }

    &--jacket--5 {
        right: 100%;
        bottom: 28px;
        width: 170px;
        transform: rotate(19deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--jacket--6 {
        right: 100%;
        bottom: 28px;
        width: 335px;
        transform: rotate(6deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--jacket--7 {
        right: 100%;
        bottom: 28px;
        width: 135px;
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--jacket--8 {
        right: 100%;
        top: 28px;
        width: 140px;
        transform: rotate(6deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--pants--1 {
        bottom: 28px;
        left: 100%;
        width: 117px;
        transform-origin: 0;
    }

    &--pants--2 {
        bottom: 28px;
        left: 100%;
        width: 105px;
        transform: rotate(3deg);
        transform-origin: 0;
    }

    &--pants--3 {
        top: 28px;
        left: 100%;
        width: 165px;
        transform: rotate(16deg);
        transform-origin: 0;
    }

    &--pants--4 {
        bottom: 28px;
        left: 100%;
        width: 150px;
        transform: rotate(35deg);
        transform-origin: 0;
    }

    &--pants--5 {
        top: 28px;
        left: 100%;
        width: 165px;
        transform: rotate(43deg);
        transform-origin: 0;
    }

    &--pants--6 {
        right: 100%;
        bottom: 28px;
        width: 218px;
        transform: rotate(-77deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--pants--7 {
        right: 100%;
        bottom: 28px;
        width: 145px;
        transform: rotate(9deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--pants--8 {
        top: 28px;
        right: 100%;
        width: 160px;
        transform: rotate(-6deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--pants--9 {
        top: 28px;
        right: 100%;
        width: 195px;
        transform: rotate(23deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--half-bombardment--1 {
        bottom: 28px;
        left: 100%;
        width: 205px;
        transform: rotate(26deg);
        transform-origin: 0;
    }

    &--half-bombardment--2 {
        bottom: 28px;
        left: 100%;
        width: 165px;
        transform: rotate(43deg);
        transform-origin: 0;
    }

    &--half-bombardment--3 {
        bottom: 28px;
        left: 100%;
        width: 165px;
        transform: rotate(26deg);
        transform-origin: 0;
    }

    &--half-bombardment--4 {
        bottom: 28px;
        left: 100%;
        width: 160px;
        transform: rotate(37deg);
        transform-origin: 0;
    }

    &--half-bombardment--5 {
        top: 28px;
        left: 100%;
        width: 195px;
        transform: rotate(38deg);
        transform-origin: 0;
    }

    &--half-bombardment--6 {
        right: 100%;
        bottom: 28px;
        width: 175px;
        transform: rotate(-72deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--half-bombardment--7 {
        right: 100%;
        bottom: 28px;
        width: 140px;
        transform: rotate(10deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--half-bombardment--8 {
        right: 100%;
        bottom: 28px;
        width: 160px;
        transform: rotate(13deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--half-bombardment--9 {
        top: 28px;
        right: 100%;
        width: 195px;
        transform: rotate(22deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }
}

/***** callouts img box *****/
.callouts__img-box {
    position: absolute;
    z-index: 1;
    width: 217px;
    height: 217px;
    margin: 0;
    border: 2px solid #c8cde0;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;

    &::before {
        content: "";
        position: absolute;
        width: 45px;
        height: 46px;
        background: #fff url("img/base/logo.svg") no-repeat center;
        background-size: 34px auto;
    }

    &--logo-top-left::before {
        top: 0;
        left: 0;
    }

    &--logo-top-right::before {
        top: 0;
        right: 0;
    }

    &--logo-bottom-right::before {
        right: 0;
        bottom: 0;
    }

    &--logo-bottom-left::before {
        bottom: 0;
        left: 0;
    }

    &--jacket--1 {
        right: -120px;
        bottom: -338px;
    }

    &--jacket--2 {
        right: -410px;
        bottom: -187px;
    }

    &--jacket--3 {
        right: -362px;
        bottom: -111px;
    }

    &--jacket--4 {
        right: -340px;
        bottom: -105px;
    }

    &--jacket--5 {
        left: -377px;
        top: 29px;
    }

    &--jacket--6 {
        left: -549px;
        top: -70px;
    }

    &--jacket--7 {
        left: -351px;
        top: -129px;
    }

    &--jacket--8 {
        left: -354px;
        top: 12px;
    }

    &--pants--1 {
        right: -333px;
        bottom: -187px;
    }

    &--pants--2 {
        right: -321px;
        bottom: -192px;
    }

    &--pants--3 {
        right: -374px;
        bottom: -203px;
    }

    &--pants--4 {
        right: -339px;
        bottom: -272px;
    }

    &--pants--5 {
        right: -337px;
        bottom: -270px;
    }

    &--pants--6 {
        left: -50px;
        bottom: -400px;
    }

    &--pants--7 {
        left: -359px;
        bottom: -164px;
    }

    &--pants--8 {
        left: -375px;
        bottom: -147px;
    }

    &--pants--9 {
        left: -396px;
        bottom: -82px;
    }

    &--half-bombardment--1 {
        right: -400px;
        bottom: -277px;
    }

    &--half-bombardment--2 {
        right: -337px;
        bottom: -298px;
    }

    &--half-bombardment--3 {
        right: -365px;
        bottom: -259px;
    }

    &--half-bombardment--4 {
        right: -344px;
        bottom: -282px;
    }

    &--half-bombardment--5 {
        right: -370px;
        bottom: -173px;
    }

    &--half-bombardment--6 {
        bottom: -352px;
        left: -270px;
    }

    &--half-bombardment--7 {
        bottom: -162px;
        left: -354px;
    }

    &--half-bombardment--8 {
        bottom: -150px;
        left: -372px;
    }

    &--half-bombardment--9 {
        bottom: -85px;
        left: -396px;
    }
}

/***** callouts img *****/
.callouts__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
