.callouts {
    padding: 0;
    list-style: none;
}

/***** callouts item *****/
.callouts__item {
    position: absolute;
    z-index: 2;
    cursor: pointer;

    &:hover {

        @media screen and (min-width: 769px) {
            z-index: 3;

            .callouts__txt {
                color: $color-main;
            }

            .callouts__pointer::after {
                transform: translate(0, -50%) scale(1.7);
                transform-origin: center;
            }

            .callouts__img-box {
                opacity: 1;
                visibility: visible;
                transition: opacity .3s ease-in;
            }
        }
    }

    &--jacket--1 {
        bottom: 570px;
        left: -100px;
    }

    &--jacket--2 {
        bottom: 340px;
        left: -65px;
    }

    &--jacket--3 {
        top: 390px;
        left: -65px;
    }

    &--jacket--4 {
        top: 630px;
        left: -40px;
    }

    &--jacket--5 {
        right: -110px;
        bottom: 520px;
    }

    &--jacket--6 {
        right: -160px;
        bottom: 350px;
    }

    &--jacket--7 {
        right: -160px;
        bottom: 120px;
    }

    &--jacket--8 {
        top: 625px;
        right: -105px;
    }

    &--pants--1 {
        bottom: 970px;
        left: -45px;
    }

    &--pants--2 {
        bottom: 695px;
        left: 15px;
    }

    &--pants--3 {
        top: 395px;
        left: -105px;
    }

    &--pants--4 {
        bottom: 255px;
        left: -120px;
    }

    &--pants--5 {
        top: 890px;
        left: -30px;
    }

    &--pants--6 {
        bottom: 960px;
        right: 30px;
    }

    &--pants--7 {
        bottom: 550px;
        right: 45px;
    }

    &--pants--8 {
        top: 615px;
        right: -90px;
    }

    &--pants--9 {
        top: 865px;
        right: -60px;
    }

    &--half-bombardment--1 {
        bottom: 1180px;
        left: 7px;
    }

    &--half-bombardment--2 {
        bottom: 960px;
        left: 0;
    }

    &--half-bombardment--3 {
        bottom: 645px;
        left: -100px;
    }

    &--half-bombardment--4 {
        bottom: 295px;
        left: -130px;
    }

    &--half-bombardment--5 {
        top: 1280px;
        left: -70px;
    }

    &--half-bombardment--6 {
        right: 40px;
        bottom: 1100px;
    }

    &--half-bombardment--7 {
        right: -15px;
        bottom: 570px;
    }

    &--half-bombardment--8 {
        right: -140px;
        bottom: 327px;
    }

    &--half-bombardment--9 {
        top: 1245px;
        right: -70px;
    }
}

/***** callouts txt *****/
.callouts__txt {
    margin: 0;
    padding: 15px;
    font-size: 23px;
    line-height: 1.25;
    color: #edecec;
    background-color: #0e0f0f;
    background-image: linear-gradient(to left, #040201 0%, #0e0d0c 70%, #181717 100%);
    border-radius: 2px;
    transition: all .15s ease-out;

    &--jacket--1 {
        width: 470px;
    }

    &--jacket--2 {
        width: 285px;
    }

    &--jacket--3 {
        width: 285px;
    }

    &--jacket--4 {
        width: 430px;
    }

    &--jacket--5 {
        width: 430px;
    }

    &--jacket--6 {
        width: 395px;
    }

    &--jacket--7 {
        width: 375px;
    }

    &--jacket--8 {
        width: 465px;
    }

    &--pants--1 {
        width: 380px;
    }

    &--pants--2 {
        width: 265px;
    }

    &--pants--3 {
        width: 410px;
    }

    &--pants--4 {
        width: 410px;
    }

    &--pants--5 {
        width: 360px;
    }

    &--pants--6 {
        width: 360px;
    }

    &--pants--7 {
        width: 320px;
    }

    &--pants--8 {
        width: 455px;
    }

    &--pants--9 {
        width: 360px;
    }

    &--half-bombardment--1 {
        width: 320px;
    }

    &--half-bombardment--2 {
        width: 275px;
    }

    &--half-bombardment--3 {
        width: 415px;
    }

    &--half-bombardment--4 {
        width: 415px;
    }

    &--half-bombardment--5 {
        width: 370px;
    }

    &--half-bombardment--6 {
        width: 345px;
    }

    &--half-bombardment--7 {
        width: 320px;
    }

    &--half-bombardment--8 {
        width: 455px;
    }

    &--half-bombardment--9 {
        width: 360px;
    }
}

/***** callouts pointer *****/
.callouts__pointer {
    position: absolute;
    z-index: 2;
    height: 2px;
    background-color: #e8a82d;
    pointer-events: none;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        display: block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #f2811b;
        background-image: linear-gradient(300deg, #fc5909 0%, #f2811b 48%, #e8a82d 100%);
        transform: translate(0, -50%);
        pointer-events: all;
    }

    &::before {
        left: -8.5px;
    }

    &::after {
        right: -8.5px;
        transition: all .3s ease-in;
    }

    &--jacket--1 {
        bottom: 0;
        left: 69%;
        width: 290px;
        transform: rotate(25deg);
        transform-origin: 0;
    }

    &--jacket--2 {
        bottom: 28px;
        left: 100%;
        width: 195px;
        transform-origin: 0;
    }

    &--jacket--3 {
        top: 28px;
        left: 100%;
        width: 165px;
        transform: rotate(-27deg);
        transform-origin: 0;
    }

    &--jacket--4 {
        top: 28px;
        left: 100%;
        width: 135px;
        transform: rotate(-23deg);
        transform-origin: 0;
    }

    &--jacket--5 {
        right: 100%;
        bottom: 28px;
        width: 170px;
        transform: rotate(19deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--jacket--6 {
        right: 100%;
        bottom: 28px;
        width: 335px;
        transform: rotate(6deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--jacket--7 {
        right: 100%;
        bottom: 28px;
        width: 135px;
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--jacket--8 {
        right: 100%;
        top: 28px;
        width: 140px;
        transform: rotate(6deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--pants--1 {
        bottom: 28px;
        left: 100%;
        width: 117px;
        transform-origin: 0;
    }

    &--pants--2 {
        bottom: 28px;
        left: 100%;
        width: 105px;
        transform: rotate(3deg);
        transform-origin: 0;
    }

    &--pants--3 {
        top: 28px;
        left: 100%;
        width: 165px;
        transform: rotate(16deg);
        transform-origin: 0;
    }

    &--pants--4 {
        bottom: 28px;
        left: 100%;
        width: 150px;
        transform: rotate(35deg);
        transform-origin: 0;
    }

    &--pants--5 {
        top: 28px;
        left: 100%;
        width: 165px;
        transform: rotate(43deg);
        transform-origin: 0;
    }

    &--pants--6 {
        right: 100%;
        bottom: 28px;
        width: 218px;
        transform: rotate(-77deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--pants--7 {
        right: 100%;
        bottom: 28px;
        width: 145px;
        transform: rotate(9deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--pants--8 {
        top: 28px;
        right: 100%;
        width: 160px;
        transform: rotate(-6deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--pants--9 {
        top: 28px;
        right: 100%;
        width: 195px;
        transform: rotate(23deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--half-bombardment--1 {
        bottom: 28px;
        left: 100%;
        width: 205px;
        transform: rotate(26deg);
        transform-origin: 0;
    }

    &--half-bombardment--2 {
        bottom: 28px;
        left: 100%;
        width: 165px;
        transform: rotate(43deg);
        transform-origin: 0;
    }

    &--half-bombardment--3 {
        bottom: 28px;
        left: 100%;
        width: 165px;
        transform: rotate(26deg);
        transform-origin: 0;
    }

    &--half-bombardment--4 {
        bottom: 28px;
        left: 100%;
        width: 160px;
        transform: rotate(37deg);
        transform-origin: 0;
    }

    &--half-bombardment--5 {
        top: 28px;
        left: 100%;
        width: 195px;
        transform: rotate(38deg);
        transform-origin: 0;
    }

    &--half-bombardment--6 {
        right: 100%;
        bottom: 28px;
        width: 175px;
        transform: rotate(-72deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--half-bombardment--7 {
        right: 100%;
        bottom: 28px;
        width: 140px;
        transform: rotate(10deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--half-bombardment--8 {
        right: 100%;
        bottom: 28px;
        width: 160px;
        transform: rotate(13deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }

    &--half-bombardment--9 {
        top: 28px;
        right: 100%;
        width: 195px;
        transform: rotate(22deg);
        transform-origin: 100%;

        &::before {
            right: -8.5px;
            left: auto;
        }

        &::after {
            right: auto;
            left: -8.5px;
        }
    }
}

/***** callouts img box *****/
.callouts__img-box {
    position: absolute;
    z-index: 1;
    width: 217px;
    height: 217px;
    margin: 0;
    border: 2px solid #c8cde0;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;

    &::before {
        content: "";
        position: absolute;
        width: 45px;
        height: 46px;
        background: #fff url("img/base/logo.svg") no-repeat center;
        background-size: 34px auto;
    }

    &--logo-top-left::before {
        top: 0;
        left: 0;
    }

    &--logo-top-right::before {
        top: 0;
        right: 0;
    }

    &--logo-bottom-right::before {
        right: 0;
        bottom: 0;
    }

    &--logo-bottom-left::before {
        bottom: 0;
        left: 0;
    }

    &--jacket--1 {
        right: -120px;
        bottom: -338px;
    }

    &--jacket--2 {
        right: -410px;
        bottom: -187px;
    }

    &--jacket--3 {
        right: -362px;
        bottom: -111px;
    }

    &--jacket--4 {
        right: -340px;
        bottom: -105px;
    }

    &--jacket--5 {
        left: -377px;
        top: 29px;
    }

    &--jacket--6 {
        left: -549px;
        top: -70px;
    }

    &--jacket--7 {
        left: -351px;
        top: -129px;
    }

    &--jacket--8 {
        left: -354px;
        top: 12px;
    }

    &--pants--1 {
        right: -333px;
        bottom: -187px;
    }

    &--pants--2 {
        right: -321px;
        bottom: -192px;
    }

    &--pants--3 {
        right: -374px;
        bottom: -203px;
    }

    &--pants--4 {
        right: -339px;
        bottom: -272px;
    }

    &--pants--5 {
        right: -337px;
        bottom: -270px;
    }

    &--pants--6 {
        left: -50px;
        bottom: -400px;
    }

    &--pants--7 {
        left: -359px;
        bottom: -164px;
    }

    &--pants--8 {
        left: -375px;
        bottom: -147px;
    }

    &--pants--9 {
        left: -396px;
        bottom: -82px;
    }

    &--half-bombardment--1 {
        right: -400px;
        bottom: -277px;
    }

    &--half-bombardment--2 {
        right: -337px;
        bottom: -298px;
    }

    &--half-bombardment--3 {
        right: -365px;
        bottom: -259px;
    }

    &--half-bombardment--4 {
        right: -344px;
        bottom: -282px;
    }

    &--half-bombardment--5 {
        right: -370px;
        bottom: -173px;
    }

    &--half-bombardment--6 {
        bottom: -352px;
        left: -270px;
    }

    &--half-bombardment--7 {
        bottom: -162px;
        left: -354px;
    }

    &--half-bombardment--8 {
        bottom: -150px;
        left: -372px;
    }

    &--half-bombardment--9 {
        bottom: -85px;
        left: -396px;
    }
}

/***** callouts img *****/
.callouts__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1510px) {
    /***** callouts item *****/
    .callouts__item {

        &--jacket--1 {
            bottom: 510px;
            left: -5px;
        }

        &--jacket--2 {
            left: -5px;
        }

        &--jacket--3 {
            left: -5px;
        }

        &--jacket--4 {
            top: 540px;
            left: -5px;
        }

        &--jacket--5 {
            right: -5px;
            bottom: 490px;
        }

        &--jacket--6 {
            right: -5px;
        }

        &--jacket--7 {
            right: -5px;
        }

        &--jacket--8 {
            top: 535px;
            right: -5px;
        }

        &--pants--1 {
            bottom: 830px;
            left: -5px;
        }

        &--pants--2 {
            bottom: 615px;
            left: -5px;
        }

        &--pants--3 {
            top: 345px;
            left: -5px;
        }

        &--pants--4 {
            bottom: 215px;
            left: -5px;
        }

        &--pants--5 {
            top: 770px;
            left: -5px;
        }

        &--pants--6 {
            bottom: 830px;
            right: -5px;
        }

        &--pants--7 {
            bottom: 500px;
            right: -5px;
        }

        &--pants--8 {
            top: 515px;
            right: -5px;
        }

        &--pants--9 {
            top: 735px;
            right: -5px;
        }

        &--half-bombardment--1 {
            bottom: 1030px;
            left: -5px;
        }

        &--half-bombardment--2 {
            bottom: 820px;
            left: -5px;
        }

        &--half-bombardment--3 {
            bottom: 555px;
            left: -5px;
        }

        &--half-bombardment--4 {
            bottom: 245px;
            left: -5px;
        }

        &--half-bombardment--5 {
            top: 1090px;
            left: -5px;
        }

        &--half-bombardment--6 {
            right: -5px;
            bottom: 940px;
        }

        &--half-bombardment--7 {
            right: -5px;
            bottom: 480px;
        }

        &--half-bombardment--8 {
            right: -5px;
            bottom: 270px;
        }

        &--half-bombardment--9 {
            top: 1065px;
            right: -5px;
        }
    }

    /***** callouts txt *****/
    .callouts__txt {
        font-size: 18px;

        &--jacket--1 {
            width: 400px;
        }

        &--jacket--4 {
            width: 390px;
        }

        &--jacket--5 {
            width: 410px;
        }

        &--jacket--6 {
            width: 305px;
        }

        &--jacket--7 {
            width: 280px;
        }

        &--jacket--8 {
            width: 380px;
        }

        &--pants--1 {
            width: 360px;
        }

        &--pants--3 {
            width: 350px;
        }

        &--pants--4 {
            width: 330px;
        }

        &--pants--8 {
            width: 380px;
        }

        &--pants--9 {
            width: 320px;
        }

        &--half-bombardment--3 {
            width: 350px;
        }

        &--half-bombardment--4 {
            width: 335px;
        }

        &--half-bombardment--5 {
            width: 335px;
        }

        &--half-bombardment--8 {
            width: 360px;
        }

        &--half-bombardment--9 {
            width: 330px;
        }
    }

    /***** callouts pointer *****/
    .callouts__pointer {

        &--jacket--1 {
            width: 265px;
            transform: rotate(29deg);
        }

        &--jacket--2 {
            width: 170px;
            transform: rotate(19deg);
        }

        &--jacket--3 {
            width: 175px;
            transform: rotate(-47deg);
        }

        &--jacket--4 {
            width: 150px;
            transform: rotate(-21deg);
        }

        &--jacket--5 {
            width: 90px;
            transform: rotate(-3deg);
        }

        &--jacket--6 {
            width: 273px;
            transform: rotate(-5deg);
        }

        &--jacket--7 {
            width: 110px;
            transform: rotate(-12deg);
        }

        &--jacket--8 {
            transform: rotate(9deg);
        }

        &--pants--1 {
            transform: rotate(3deg);
        }

        &--pants--2 {
            width: 160px;
            transform: rotate(11deg);
        }

        &--pants--3 {
            width: 138px;
            transform: rotate(15deg);
        }

        &--pants--4 {
            width: 133px;
        }

        &--pants--5 {
            width: 132px;
            transform: rotate(37deg);
        }

        &--pants--6 {
            width: 223px;
            transform: rotate(-62deg);
        }

        &--pants--7 {
            width: 207px;
            transform: rotate(-5deg);
        }

        &--pants--9 {
            width: 191px;
            transform: rotate(21deg);
        }

        &--half-bombardment--1 {
            width: 230px;
            transform: rotate(27deg);
        }

        &--half-bombardment--2 {
            width: 185px;
            transform: rotate(32deg);
        }

        &--half-bombardment--3 {
            width: 154px;
        }

        &--half-bombardment--4 {
            width: 135px;
        }

        &--half-bombardment--5 {
            width: 170px;
            transform: rotate(35deg);
        }

        &--half-bombardment--6 {
            width: 195px;
            transform: rotate(-52deg);
        }

        &--half-bombardment--7 {
            width: 155px;
            transform: rotate(8deg);
        }

        &--half-bombardment--8 {
            width: 140px;
            transform: rotate(16deg);
        }

        &--half-bombardment--9 {
            width: 176px;
            transform: rotate(24deg);
        }
    }

    /***** callouts img box *****/
    .callouts__img-box {

        &--jacket--1 {
            right: -323px;
            bottom: -338px;
        }

        &--jacket--2 {
            right: -376px;
            bottom: -239px;
        }

        &--jacket--3 {
            right: -337px;
            bottom: -63px;
        }

        &--jacket--4 {
            right: -355px;
            bottom: -115px;
        }

        &--jacket--5 {
            left: -307px;
            top: 72px;
        }

        &--jacket--6 {
            left: -489px;
            top: 46px;
        }

        &--jacket--7 {
            left: -326px;
            top: -124px;
        }

        &--jacket--8 {
            left: -354px;
            top: -206px;
        }

        &--pants--1 {
            bottom: -192px;
        }

        &--pants--2 {
            right: -372px;
            bottom: -217px;
        }

        &--pants--3 {
            right: -349px;
            bottom: -205px;
        }

        &--pants--4 {
            right: -325px;
            bottom: -261px;
        }

        &--pants--5 {
            right: -323px;
            bottom: -250px;
        }

        &--pants--6 {
            left: -320px;
            bottom: -383px;
        }

        &--pants--7 {
            left: -421px;
            bottom: -205px;
        }

        &--pants--8 {
            left: -375px;
            bottom: -165px;
        }

        &--pants--9 {
            left: -395px;
            bottom: -101px;
        }

        &--half-bombardment--1 {
            right: -420px;
            bottom: -290px;
        }

        &--half-bombardment--2 {
            right: -372px;
            bottom: -285px;
        }

        &--half-bombardment--3 {
            right: -355px;
            bottom: -254px;
        }

        &--half-bombardment--4 {
            right: -324px;
            bottom: -267px;
        }

        &--half-bombardment--5 {
            right: -354px;
            bottom: -267px;
        }

        &--half-bombardment--6 {
            bottom: -341px;
            left: -336px;
        }

        &--half-bombardment--7 {
            bottom: -164px;
            left: -370px;
        }

        &--half-bombardment--8 {
            bottom: -150px;
            left: -351px;
        }

        &--half-bombardment--9 {
            bottom: -100px;
            left: -377px;
        }
    }
}

@media screen and (max-width: 1200px) {
    /***** callouts item *****/
    .callouts__item {

        &--jacket--3 {
            top: 330px;
        }

        &--jacket--7 {
            bottom: 90px;
        }

        &--half-bombardment--1 {
            bottom: 1010px;
        }
    }

    /***** callouts txt *****/
    .callouts__txt {

        &--jacket--1 {
            width: 335px;
        }

        &--jacket--2 {
            width: 210px;
        }

        &--jacket--3 {
            width: 190px;
        }

        &--jacket--4 {
            width: 320px;
        }

        &--jacket--5 {
            width: 310px;
        }

        &--jacket--6 {
            width: 195px;
        }

        &--jacket--7 {
            width: 185px;
        }

        &--jacket--8 {
            width: 310px;
        }

        &--pants--1 {
            width: 290px;
        }

        &--pants--2 {
            width: 245px;
        }

        &--pants--3 {
            width: 245px;
        }

        &--pants--4 {
            width: 235px;
        }

        &--pants--5 {
            width: 260px;
        }

        &--pants--6 {
            width: 310px;
        }

        &--pants--7 {
            width: 300px;
        }

        &--pants--8 {
            width: 290px;
        }

        &--pants--9 {
            width: 240px;
        }

        &--half-bombardment--1 {
            width: 280px;
        }

        &--half-bombardment--3 {
            width: 250px;
        }

        &--half-bombardment--4 {
            width: 240px;
        }

        &--half-bombardment--5 {
            width: 255px;
        }

        &--half-bombardment--7 {
            width: 280px;
        }

        &--half-bombardment--8 {
            width: 260px;
        }

        &--half-bombardment--9 {
            width: 230px;
        }
    }

    /***** callouts pointer *****/
    .callouts__pointer {

        &--jacket--1 {
            width: 215px;
            transform: rotate(36deg);
        }

        &--jacket--2 {
            width: 142px;
            transform: rotate(23deg);
        }

        &--jacket--3 {
            width: 130px;
            transform: rotate(-31deg);
        }

        &--jacket--4 {
            width: 117px;
            transform: rotate(-27deg);
        }

        &--jacket--7 {
            width: 103px;
            transform: rotate(5deg);
        }

        &--jacket--8 {
            width: 110px;
            transform: rotate(11deg);
        }

        &--pants--1 {
            width: 85px;
        }

        &--pants--2 {
            width: 82px;
            transform: rotate(15deg);
        }

        &--pants--4 {
            width: 130px;
        }

        &--pants--6 {
            width: 204px;
            transform: rotate(-76deg);
        }

        &--pants--7 {
            width: 123px;
            transform: rotate(-7deg);
        }

        &--pants--8 {
            width: 140px;
            transform: rotate(-9deg);
        }

        &--pants--9 {
            width: 170px;
            transform: rotate(24deg);
        }

        &--half-bombardment--1 {
            width: 165px;
            transform: rotate(31deg);
        }

        &--half-bombardment--2 {
            width: 95px;
            transform: rotate(56deg);
        }

        &--half-bombardment--5 {
            width: 160px;
            transform: rotate(39deg);
        }

        &--half-bombardment--6 {
            width: 147px;
            transform: rotate(-82deg);
        }

        &--half-bombardment--7 {
            width: 92px;
            transform: rotate(13deg);
        }
    }

    /***** callouts img box *****/
    .callouts__img-box {

        &--jacket--1 {
            right: -286px;
            bottom: -341px;
        }

        &--jacket--2 {
            right: -347px;
            bottom: -242px;
        }

        &--jacket--3 {
            right: -330px;
            bottom: -103px;
        }

        &--jacket--4 {
            right: -322px;
        }

        &--jacket--6 {
            top: 67px;
        }

        &--jacket--7 {
            left: -320px;
            top: -87px;
        }

        &--jacket--8 {
            left: -325px;
        }

        &--pants--1 {
            right: -301px;
        }

        &--pants--2 {
            right: -295px;
            bottom: -207px;
        }

        &--pants--3 {
            right: -351px;
            bottom: -184px;
        }

        &--pants--4 {
            right: -323px;
        }

        &--pants--6 {
            left: -266px;
            bottom: -384px;
        }

        &--pants--7 {
            left: -337px;
            bottom: -204px;
        }

        &--pants--8 {
            left: -355px;
            bottom: -149px;
        }

        &--pants--9 {
            left: -373px;
            bottom: -80px;
        }

        &--half-bombardment--1 {
            right: -358px;
            bottom: -272px;
        }

        &--half-bombardment--2 {
            right: -268px;
            bottom: -265px;
        }

        &--half-bombardment--5 {
            right: -340px;
            bottom: -269px;
        }

        &--half-bombardment--6 {
            bottom: -331px;
            left: -237px;
        }

        &--half-bombardment--7 {
            bottom: -167px;
            left: -306px;
        }

        &--half-bombardment--9 {
            bottom: -76px;
        }
    }
}

@media screen and (max-width: 992px) {
    /***** callouts item *****/
    .callouts__item {

        &--jacket--1 {
            bottom: 350px;
        }

        &--jacket--2 {
            bottom: 210px;
        }

        &--jacket--3 {
            top: 240px;
        }

        &--jacket--4 {
            top: 395px;
        }

        &--jacket--5 {
            bottom: 350px;
        }

        &--jacket--6 {
            bottom: 225px;
        }

        &--jacket--7 {
            bottom: 20px;
        }

        &--jacket--8 {
            top: 415px;
        }

        &--pants--1 {
            bottom: 580px;
        }

        &--pants--2 {
            bottom: 435px;
        }

        &--pants--3 {
            top: 240px;
        }

        &--pants--4 {
            bottom: 110px;
        }

        &--pants--5 {
            top: 590px;
        }

        &--pants--6 {
            bottom: 580px;
        }

        &--pants--7 {
            bottom: 350px;
        }

        &--pants--8 {
            top: 350px;
        }

        &--pants--9 {
            top: 565px;
        }

        &--half-bombardment--1 {
            bottom: 740px;
        }

        &--half-bombardment--2 {
            bottom: 600px;
        }

        &--half-bombardment--3 {
            bottom: 395px;
        }

        &--half-bombardment--4 {
            bottom: 165px;
        }

        &--half-bombardment--5 {
            top: 800px;
        }

        &--half-bombardment--6 {
            bottom: 690px;
        }

        &--half-bombardment--7 {
            bottom: 390px;
        }

        &--half-bombardment--8 {
            bottom: 170px;
        }

        &--half-bombardment--9 {
            top: 775px;
        }
    }

    /***** callouts txt *****/
    .callouts__txt {
        font-size: 16px;

        &--jacket--1 {
            width: 230px;
        }

        &--jacket--2 {
            width: 150px;
        }

        &--jacket--3 {
            width: 150px;
        }

        &--jacket--4 {
            width: 250px;
        }

        &--jacket--5 {
            width: 240px;
        }

        &--jacket--6 {
            width: 160px;
        }

        &--jacket--7 {
            width: 155px;
        }

        &--jacket--8 {
            width: 250px;
        }

        &--pants--1 {
            width: 230px;
        }

        &--pants--2 {
            width: 205px;
        }

        &--pants--3 {
            width: 190px;
        }

        &--pants--4 {
            width: 190px;
        }

        &--pants--5 {
            width: 210px;
        }

        &--pants--6 {
            width: 250px;
        }

        &--pants--7 {
            width: 240px;
        }

        &--pants--8 {
            width: 230px;
        }

        &--pants--9 {
            width: 180px;
        }

        &--half-bombardment--1 {
            width: 210px;
        }

        &--half-bombardment--2 {
            width: 200px;
        }

        &--half-bombardment--3 {
            width: 200px;
        }

        &--half-bombardment--4 {
            width: 180px;
        }

        &--half-bombardment--5 {
            width: 195px;
        }

        &--half-bombardment--6 {
            width: 265px;
        }

        &--half-bombardment--7 {
            width: 220px;
        }

        &--half-bombardment--8 {
            width: 210px;
        }

        &--half-bombardment--9 {
            width: 180px;
        }
    }

    /***** callouts pointer *****/
    .callouts__pointer {

        &--jacket--1 {
            width: 174px;
            transform: rotate(24deg);
        }

        &--jacket--2 {
            width: 121px;
            transform: rotate(6deg);
        }

        &--jacket--3 {
            width: 104px;
            transform: rotate(-32deg);
        }

        &--jacket--4 {
            width: 94px;
            transform: rotate(-31deg);
        }

        &--jacket--5 {
            width: 69px;
        }

        &--jacket--6 {
            width: 202px;
            transform: rotate(0deg);
        }

        &--jacket--7 {
            width: 87px;
            transform: rotate(31deg);
        }

        &--jacket--8 {
            width: 82px;
            transform: rotate(36deg);
        }

        &--pants--1 {
            width: 65px;
            transform: rotate(-12deg);
        }

        &--pants--2 {
            width: 52px;
        }

        &--pants--3 {
            width: 105px;
        }

        &--pants--4 {
            width: 75px;
            transform: rotate(14deg);
        }

        &--pants--5 {
            width: 92px;
            transform: rotate(15deg);
        }

        &--pants--6 {
            width: 132px;
        }

        &--pants--7 {
            width: 88px;
            transform: rotate(-6deg);
        }

        &--pants--8 {
            width: 110px;
            transform: rotate(-23deg);
        }

        &--pants--9 {
            width: 158px;
            transform: rotate(34deg);
        }

        &--half-bombardment--1 {
            width: 135px;
        }

        &--half-bombardment--2 {
            transform: rotate(50deg);
        }

        &--half-bombardment--3 {
            width: 112px;
        }

        &--half-bombardment--4 {
            width: 101px;
            transform: rotate(32deg);
        }

        &--half-bombardment--5 {
            width: 120px;
            transform: rotate(32deg);
        }

        &--half-bombardment--6 {
            width: 127px;
        }

        &--half-bombardment--7 {
            width: 73px;
            transform: rotate(-26deg);
        }

        &--half-bombardment--8 {
            width: 110px;
            transform: rotate(28deg);
        }

        &--half-bombardment--9 {
            width: 136px;
            transform: rotate(28deg);
        }
    }

    /***** callouts img box *****/
    .callouts__img-box {

        &--jacket--1 {
            right: -303px;
            bottom: -287px;
        }

        &--jacket--2 {
            right: -337px;
            bottom: -198px;
        }

        &--jacket--3 {
            right: -304px;
            bottom: -118px;
        }

        &--jacket--4 {
            right: -298px;
            bottom: -106px;
        }

        &--jacket--5 {
            left: -285px;
            top: 83px;
        }

        &--jacket--6 {
            left: -419px;
            top: 60px;
        }

        &--jacket--7 {
            left: -291px;
            top: -117px;
        }

        &--jacket--8 {
            left: -282px;
            top: -231px;
        }

        &--pants--1 {
            right: -281px;
            bottom: -173px;
        }

        &--pants--2 {
            right: -266px;
            bottom: -200px;
        }

        &--pants--3 {
            right: -318px;
            bottom: -162px;
        }

        &--pants--4 {
            right: -290px;
            bottom: -205px;
        }

        &--pants--5 {
            right: -306px;
            bottom: -178px;
        }

        &--pants--6 {
            left: -246px;
            bottom: -314px;
        }

        &--pants--7 {
            left: -305px;
            bottom: -196px;
        }

        &--pants--8 {
            left: -317px;
            bottom: -159px;
        }

        &--pants--9 {
            left: -349px;
            bottom: -68px;
        }

        &--half-bombardment--1 {
            right: -331px;
            bottom: -259px;
        }

        &--half-bombardment--2 {
            right: -276px;
            bottom: -259px;
        }

        &--half-bombardment--3 {
            right: -317px;
            bottom: -236px;
        }

        &--half-bombardment--4 {
            right: -300px;
            bottom: -239px;
        }

        &--half-bombardment--5 {
            right: -318px;
            bottom: -218px;
        }

        &--half-bombardment--6 {
            bottom: -311px;
            left: -233px;
        }

        &--half-bombardment--7 {
            bottom: -220px;
            left: -283px;
        }

        &--half-bombardment--8 {
            bottom: -136px;
            left: -315px;
        }

        &--half-bombardment--9 {
            bottom: -91px;
            left: -338px;
        }
    }
}

@media screen and (max-width: 768px) {
    .description-clothes__box {
        width: 100%;
    }

    .description-clothes__img {
        margin-bottom: 30px;
    }

    .callouts__item {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        margin-bottom: 5px;
        padding: 15px 15px 15px 47px;
        background-color: #0e0f0f;
        background-image: linear-gradient(to left, #040201 0%, #0e0d0c 70%, #181717 100%);
        border-radius: 2px;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "";
            position: absolute;
            left: 15px;
            top: 50%;
            width: 17px;
            height: 17px;
            background: url("img/bg/zoom-in.svg") no-repeat center center;
            background-size: contain;
            transform: translate(0, -50%);
        }

        &--open {
            
            &::before {
                background-image: url("img/bg/zoom-in--color-main.svg");
            }
        }
    }

    .callouts__txt {
        width: 100%;
        padding: 0;
    }

    .callouts__pointer {
        display: none;
    }

    .callouts__img-box {
        top: auto;
        right: auto;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0);

        .callouts__item--open & {
            opacity: 1;
            visibility: visible;
        }
    }
}
