.dealer-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.dealer-table tr:first-child td {

    &:nth-child(1) {
        width: 22%;
    }

    &:nth-child(2) {
        width: 35%;
    }

    &:nth-child(3) {
        width: 18%;
    }

    &:nth-child(4) {
        width: 25%;
    }
}

.dealer-table td {
    padding: 6px 10px;
    vertical-align: top;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

.dealer-table a {
    color: #fff;
    transition: all .15s ease-out;

    &:hover,
    &:focus {
        color: $color-main;
    }
}

@media screen and (max-width: 992px) {
    .dealer-table tr:first-child td {

        &:nth-child(2) {
            width: 31%;
        }

        &:nth-child(3) {
            width: 22%;
        }
    }
}

@media screen and (max-width: 768px) {
    .dealer-table tr {
        display: block;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        &:first-child td {

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                width: 100%;
            }
        }
    }

    .dealer-table th,
    .dealer-table td {
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
    }
}
