.dealers-map-and-contacts {
    padding-top: calc(145px + 195px);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/dealers-map-and-contacts.png");
    }

    .webp & {
        background-image: url("img/bg/dealers-map-and-contacts.webp");
    }
}

.dealers-map-and-contacts__dealers-map {
    margin-bottom: 85px;
}
