.description-clothes {
    margin-bottom: -130px;
    padding-top: 176px;
    padding-bottom: 220px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/description-clothes.jpg");
    }

    .webp & {
        background-image: url("img/bg/description-clothes.webp");
    }
}

.description-clothes__title {
    margin-top: 0;
    margin-bottom: 90px;
}

.description-clothes__list {
    @include reset-list;
}

.description-clothes__item {
    margin-bottom: 255px;

    &:last-child {
        margin-bottom: 0;
    }
}

.description-clothes__subtitle-box {
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 70px;
    text-align: center;
}

.description-clothes__subtitle {
    display: inline-block;
    vertical-align: middle;
    padding: 25px 70px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    font-family: "Noto Sans", Tahoma, sans-serif;
    text-transform: uppercase;
    color: $color-main;
    background-color: #16100d;
    background-image: linear-gradient(to left, rgb(21,15,12) 0%, rgb(23,19,18) 70%, rgb(24,23,23) 100%);
    border-radius: 60px;
    box-shadow: 0 -2px #2c2c2b;
}

.description-clothes__box {
    position: relative;
}

.description-clothes__img {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    filter: drop-shadow( 0 0 45px rgba(109, 112, 126, .6))
            drop-shadow( 0 0 5px rgba(255, 255, 255, .1));
}

.description-clothes__callouts {
    margin: 0;
}

@media screen and (max-width: 1510px) {
    .description-clothes__img {

        &--jacket {
            width: 575px;
        }

        &--pants {
            width: 458px;
        }

        &--half-bombardment {
            width: 442px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .description-clothes__box {
        width: 962px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 992px) {
    .description-clothes {
        margin-bottom: -180px;
    }

    .description-clothes__box {
        width: 739px;
    }

    .description-clothes__img {

        &--jacket {
            width: 420px;
        }

        &--pants {
            width: 334px;
        }

        &--half-bombardment {
            width: 323px;
        }
    }
}

@media screen and (max-width: 768px) {
    .description-clothes {
        padding-top: 205px;
    }

    .description-clothes__item {
        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 576px) {
    .description-clothes {
        margin-bottom: -200px;
    }

    .description-clothes__subtitle {
        font-size: 21px;
        padding: 18px 30px;
    }
}
