.dropdown {
    position: relative;
    display: flex;
    padding: 0;
    list-style: none;
}

.dropdown__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.dropdown__button {
    padding: 12px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    background: 0 0;
    border: none;
    cursor: pointer;
    transition: all .15s ease-out;

    .dropdown__item--open & {
        color: #8ea8c5;
    }

    &:hover {
        //color: $color-main--dark;
        color: #8ea8c5;

        .dropdown__button-icon {
            fill: #8ea8c5;
        }
    }

    &:focus {
        outline: none;
    }
}

.dropdown__button-icon {
    margin-left: 5px;
    transition: all .15s ease-out;
    transform: rotate(-90deg);

    .dropdown__item--open & {
        fill: #8ea8c5;
        transform: rotate(0);
    }
}

.dropdown__box {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 500px;
    max-width: 100vw;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fbfbfb;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .15);
    border: 1px solid #efefef;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;

    .dropdown__item--open & {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
        transition: opacity .2s ease-in,
                    margin .2s ease-in,
                    visibility .2s ease-in;
    }

    &--custom-scroller-y {
        max-height: 390px;
        overflow-y: auto;
    }

    &--custom-scroller-x {
        overflow-x: auto;
    }
}

.dropdown__box .mCSB_inside > .mCSB_container {
    margin-right: 9px;
}
