.footer-bottom {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #757474;
}

.footer-bottom__logo {
    display: block;
    flex-shrink: 0;
    width: 66px;
    margin-right: 40px;
}

.footer-bottom__nav {
    margin: 0 20px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-bottom__nav li {
    display: flex;
}

.footer-bottom__nav a {
    padding: 3px 10px;
    font-weight: 700;
    font-family: "Noto Sans", Tahoma, sans-serif;
    text-transform: uppercase;
    color: #757474;
    transition: all .15s ease-out;

    &:hover {
        color: $color-main;
    }
}

.footer-bottom__social {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
}

.footer-bottom__social-title {
    margin: 0 15px 0 0;
    line-height: 1.25;
}

.footer-bottom__social-list {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer-bottom {
        display: block;
    }

    .footer-bottom__logo {
        margin: 0 auto 30px;
    }

    .footer-bottom__nav {
        justify-content: center;
        margin: 0 -10px 30px -10px;
    }

    .footer-bottom__social {
        justify-content: center;
    }

    .footer-bottom__social-title {

        br {
            display: none;
        }
    }
}