.get-description-small {

}

.get-description-small__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;

    strong {
        font-weight: 500;
        color: $color-main;
    }
}
