.get-description-small {

    &--only-mobile {
        display: none;
    }
}

.get-description-small__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;

    strong {
        font-weight: 500;
        color: $color-main;
    }

    .get-description-small--only-mobile & {
        text-align: center;
        font-size: 18px;
        text-transform: none;
    }
}

@media screen and (max-width: 992px) {
    .get-description-small {

        &--only-desktop {
            display: none;
        }

        &--only-mobile {
            display: block;
        }
    }
}
