.get-description-section {
    position: relative;
    z-index: 1;
    margin-bottom: -110px;
    padding-top: calc(35px + 110px);
    padding-bottom: calc(110px + 110px);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.no-js .get-description-section,
.no-webp .get-description-section {
    background-image: url("img/bg/get-description-section.png");
}

.webp .get-description-section {
    background-image: url("img/bg/get-description-section.webp");
}

.get-description-section__box {
    width: 610px;
    max-width: 100%;
    margin: 0 auto;
}

.get-description-section__scene {
    right: -25px;
    bottom: -120px;
}

@media screen and (max-width: 768px) {
    .get-description-section {
        padding-bottom: 300px;
    }

    .get-description-section__scene {
        bottom: -170px;
    }
}

@media screen and (max-width: 576px) {
    .get-description-section {
        padding-top: 215px;
    }
}
