.info-box {
    position: relative;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, .3));

    &::before {
        content: "";
        position: absolute;
        bottom: 36px;
        z-index: 1;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        pointer-events: none;
    }

    &--without-tail {

        &::before {
            bottom: 0;
        }
    }

    &--1--1::before {
        left: -130px;
        width: 464px;
        height: 686px;

        .no-js &,
        .no-webp & {
            background-image: url("img/bg/worker-1.png");
        }

        .webp & {
            background-image: url("img/bg/worker-1.webp");
        }
    }

    &--1--2::before {
        left: 0;
        width: 426px;
        height: 674px;

        .no-js &,
        .no-webp & {
            background-image: url("img/bg/worker-3.png");
        }

        .webp & {
            background-image: url("img/bg/worker-3.webp");
        }
    }

    &--2--1::before {
        right: -160px;
        width: 443px;
        height: 892px;

        .no-js &,
        .no-webp & {
            background-image: url("img/bg/worker-2.png");
        }

        .webp & {
            background-image: url("img/bg/worker-2.webp");
        }
    }

    &--2--2::before {
        right: -150px;
        width: 763px;
        height: 508px;

        .no-js &,
        .no-webp & {
            background-image: url("img/bg/worker-4.png");
        }

        .webp & {
            background-image: url("img/bg/worker-4.webp");
        }
    }
}

.info-box {
    width: 1100px;
    max-width: 100%;
}

.info-box__wr {
    padding-top: 80px;
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    border-width: 20px 20px 57px 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .05);
    border-radius: 10px;
    box-shadow: inset 5px 5px 25px 0px rgba(0, 0, 0, .3);
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 36px), calc(50% + 35px) calc(100% - 36px), 50% 100%, calc(50% - 35px) calc(100% - 36px), 0% calc(100% - 36px));

    .info-box--1 & {
        padding-right: 60px;
        color: $gray;
        background-color: #1f1411;

        .no-js &,
        .no-webp & {
            background-image: url("img/bg/info-box-1.jpg");
        }

        .webp & {
            background-image: url("img/bg/info-box-1.webp");
        }
    }

    .info-box--1--1 & {
        padding-left: 235px;
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 36px), calc(33% + 35px) calc(100% - 36px), 33% 100%, calc(33% - 35px) calc(100% - 36px), 0% calc(100% - 36px));
    }

    .info-box--1--2 & {
        padding-left: 375px;
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 36px), calc(43% + 35px) calc(100% - 36px), 43% 100%, calc(43% - 35px) calc(100% - 36px), 0% calc(100% - 36px));
    }

    .info-box--2 & {
        padding-left: 130px;
        background-color: #eeeeee;

        .no-js &,
        .no-webp & {
            background-image: url("img/bg/info-box-2.jpg");
        }

        .webp & {
            background-image: url("img/bg/info-box-2.webp");
        }
    }

    .info-box--2--1 & {
        padding-right: 330px;
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 36px), calc(67% + 35px) calc(100% - 36px), 67% 100%, calc(67% - 35px) calc(100% - 36px), 0% calc(100% - 36px));
    }

    .info-box--2--2 & {
        padding-right: 230px;
    }

    .info-box--without-tail & {
        clip-path: none;
        border-bottom-width: 20px;
    }
}

.info-box__txt {
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 24px;
}

.info-box__txt p:first-child {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.25;
    font-family: "Noto Sans", Tahoma, sans-serif;
    text-transform: uppercase;

    strong {
        font-weight: 700;
    }
}

.info-box--1--1 ul {
    padding-left: 125px;
}

.info-box--1--2 ul {
    padding-left: 45px;
}

.info-box__txt li {
    padding-left: 25px;

    &::before {
        top: 14px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-image: linear-gradient(to bottom, #ffde00, #e29403 57%, #c44906 100%);
        box-shadow: 0 0 9.1px .9px rgba(241, 100, 6, .73);
    }
}

.info-box__button-box {
    margin-top: 0;
    margin-bottom: 0;

    .info-box--1 & {
        text-align: right;
    }
}

.info-box__button {
    min-width: 270px;
    max-width: 100%;
}

.info-box > *:last-child {
    margin-bottom: 0;
}

.info-box__scene-1 {
    bottom: 180px;
    left: -60px;
}

.info-box__scene-2 {
    bottom: 20px;
    right: -195px;
}

@media screen and (max-width: 1200px) {
    .info-box {

        &--1--1::before {
            left: -90px;
            width: 325px;
            height: 480px;
        }

        &--1--2::before {
            width: 298px;
            height: 471px;
        }

        &--2--1::before {
            right: -90px;
            width: 310px;
            height: 624px;
        }

        &--2--2::before {
            right: -110px;
            width: 534px;
            height: 356px;
        }
    }

    .info-box__wr {

        .info-box--1 & {
            padding-right: 50px;
        }

        .info-box--1--2 & {
            padding-left: 295px;
        }

        .info-box--2 & {
            padding-left: 50px;
        }

        .info-box--2--1 & {
            padding-right: 220px;
        }

        .info-box--2--2 & {
            padding-right: 180px;
        }

    }

    .info-box--1--1 ul,
    .info-box--1--2 ul {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .info-box {

        &::before {
            position: static;
            margin-right: auto;
            margin-left: auto;
        }

        &--1--1::before {
            margin-bottom: -120px;
        }

        &--2--1::before {
            margin-bottom: -180px;
        }
    }

    .info-box__wr {
        padding-top: 50px;
        padding-bottom: 53px;

        .info-box & {
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}

@media screen and (max-width: 576px) {
    .info-box {

        &--2--2::before {
            width: calc(100vw - 30px);
            height: 0;
            padding-bottom: 61vw;
        }
    }

    .info-box__wr {
        padding-top: 30px;
        padding-bottom: 33px;
        border-width: 15px 15px 51px;

        .info-box & {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    .info-box__txt {
        font-size: 21px;
    }

    .info-box__button {
        min-width: 100%;
    }
}
