.list-box {
    //max-height: none;
    background: 0 0;
    border: none;
    //overflow-y: visible;

    &:focus {
        outline: none;
    }
}

.list-box__item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    line-height: 1.25;
    transition: all .15s ease-out;
    cursor: pointer;

    &:hover {
        color: $color-main--dark;
    }

    &.focused {
        background-color: $color-main;

        &:hover {
            color: $color-secondary;
        }
    }
}

.list-box [role="option"][aria-selected="true"]::before {
    content: '';
    top: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 13px;
    background: url("img/bg/check-mark.svg") no-repeat center center;
    background-size: contain;
}
