.loader {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, .9);
    overflow: hidden;
}

.loader__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    transform: translate(-50%, -50%);
}
