.main-offer {
    position: relative;
    z-index: 3;
    min-height: 815px;
    margin-bottom: -110px;
    padding-top: 93px;
    padding-bottom: 160px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.no-js .main-offer,
.no-webp .main-offer {
    background-image: url("img/bg/offer.png");
}

.webp .main-offer {
    background-image: url("img/bg/offer.webp");
}

.main-offer__btn-download-description {
    margin-left: 58%;
    margin-bottom: 95px;
}

.main-offer__txt {
    margin-bottom: 65px;
    width: 870px;
    max-width: 100%;
    font-size: 36px;
    line-height: 1.25;
}

.main-offer__txt h1 {
    margin: .6em 0;
    font-size: 40px;
    font-family: "Noto Sans", Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: left;
}

.main-offer__txt strong {
    font-weight: 700;
}

.main-offer__txt p {
    margin: .6em 0;
}

.main-offer__button {
    position: relative;
    min-width: 260px;
    text-transform: none;

    &:first-child {
        z-index: 2;
        margin-right: -10px;
        box-shadow: 0 9px 20.79px .21px rgba(92, 90, 87, .41),
                    inset 0 11px 15px rgba(251, 224, 193, .49);
    }

    &:last-child {
        z-index: 1;
    }
}

@media screen and (min-width: 1900px) {
    .main-offer {
        padding-bottom: 360px;
    }
}

@media screen and (min-width: 2000px) {
    .main-offer {
        padding-bottom: 400px;
    }
}

@media screen and (max-width: 1200px) {
    .main-offer {
        min-height: 745px;
        padding-top: calc(93px + 50px);
    }

    .main-offer .main-offer__btn-download-description {
        display: none;
    }

    .main-offer__txt {
        width: 750px;

        br {
            display: none;
        }
    }
}

@media screen and (max-width: 992px) {
    .main-offer {
        background-position: calc(50% - 70px) top;
    }

    .main-offer__txt {
        width: 72%;
        font-size: 32px;
    }

    .main-offer__txt h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .main-offer {
        min-height: 620px;
        padding-top: calc(148px + 50px);
        background-position: calc(50% - 200px) top;
    }

    .main-offer__txt {
        width: 100%;
        text-shadow: 1px 1px 7px rgba(0, 0, 0, .7);
    }

    .main-offer__button {

        &:last-child {
            box-shadow: 1px 1px 7px rgba(0, 0, 0, .7);
            text-shadow: 1px 1px 7px rgba(0, 0, 0, .7);

            &:hover {
                text-shadow: none;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .main-offer {
        background-position: calc(50% - 350px) top;
    }

    .main-offer__button {
        display: block;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
