.main-footer {
    padding-top: 340px;
    padding-bottom: 30px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    overflow: hidden;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/footer.png");
    }

    .webp & {
        background-image: url("img/bg/footer.webp");
    }
}

.main-footer__dealers-map {
    margin-bottom: 85px;
}

.main-footer__contacts {
    width: 790px;
    max-width: 100%;
    margin: 0 auto 120px;
}

@media screen and (min-width: 2100px) {
    .main-footer {
        width: 1920px;
        margin: -1px auto 0;
    }
}

@media screen and (max-width: 576px) {
    .main-footer {

        &--home {
            margin-top: -90px;
            padding-top: 300px;
        }
    }
}
