.main-header {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Noto Sans", Tahoma, sans-serif;
}

.main-header__wr {
    position: relative;
    z-index: 5;

    &--sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $color-secondary;
        box-shadow: 0 -2px 12px rgba(0, 0, 0, .3);
        animation: smooth-scroll-down 1s forwards;
    }

    &--end-sticky {
        animation: smooth-scroll-up 1s forwards;
    }
}

.main-header .container {
    display: flex;
}

.main-header__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 20px;
    padding: 10px 0;

    .main-header__wr--sticky & {
        width: 30px;
    }
}

.main-header__nav {

}

.main-header__feedback {
    flex-shrink: 0;
    margin-right: 10px;
    margin-left: auto;
}

.main-header__language-switch {
    flex-shrink: 0;
    margin: 0;
}