.main-header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.main-header .container {
    display: flex;
}

.main-header__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 20px;
    padding: 10px 0;
}

.main-header__nav {

}

.main-header__feedback {
    flex-shrink: 0;
    margin-right: 10px;
    margin-left: auto;
}

.main-header__language-switch {
    flex-shrink: 0;
    margin: 0;
}