.main-header {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Noto Sans", Tahoma, sans-serif;
}

.main-header__wr {
    position: relative;
    z-index: 5;

    &--sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $color-secondary;
        box-shadow: 0 -2px 12px rgba(0, 0, 0, .3);
        animation: smooth-scroll-down 1s forwards;
    }

    &--end-sticky {
        animation: smooth-scroll-up 1s forwards;
    }
}

.main-header__top-only-mobile {
    display: none;
    margin-bottom: 12px;

    .main-header__wr--sticky & {
        display: none;
    }
}

.main-header__bottom {
    display: flex;
}

/***** Hamburger styles *****/
:root {
    // default
    //--mb-button-size: 60px;
    //--mb-bar-width: 0.6;
    //--mb-bar-height: 4px;
    //--mb-bar-spacing: 10px;
    //--mb-animate-timeout: 0.4s

    --mb-button-size: 35px;
    --mb-bar-width: 0.8;
    --mb-bar-height: 4px;
    --mb-bar-spacing: 8px;
    --mb-animate-timeout: 0.1s;
}

.main-header__hamburger {
    position: relative;
    flex-shrink: 0;
    display: none;
    box-sizing: border-box;
    //height: var(--mb-button-size);
    min-height: var(--mb-button-size);
    margin-right: 30px;
    padding: 0 0 0 var(--mb-button-size);
    color: $color-main;
    border: none;
    border-radius: 0;
    background: 0 0;
    line-height: var(--mb-button-size);
    vertical-align: middle;
    appearance: none;
    outline: 0;
    cursor: pointer;
    user-select: none;
}

.main-header__hamburger b {
    display: block;
    position: absolute;
    left: calc(var(--mb-button-size) * ((1 - var(--mb-bar-width)) / 2));
    width: calc(var(--mb-button-size) * var(--mb-bar-width));
    height: var(--mb-bar-height);
    border-radius: calc(var(--mb-bar-height) / 2);
    background: currentColor;
    color: inherit;
    opacity: 1;

    &:nth-of-type(1) {
        bottom: calc(50% + var(--mb-bar-spacing));
        transition: bottom .2s ease, transform .2s ease, width .2s ease;
        transition-delay: .2s, 0s;

        .show-mobile-menu & {
            bottom: calc(50% - (var(--mb-bar-height) / 2));
            transform: rotate(135deg);
            transition-delay: calc(var(--mb-animate-timeout) + 0s), calc(var(--mb-animate-timeout) + .2s);
        }
    }

    &:nth-of-type(2) {
        top: calc(50% - (var(--mb-bar-height) / 2));
        transition: opacity .2s ease;
        transition-duration: 0s;
        transition-delay: .2s;

        .show-mobile-menu & {
            opacity: 0;
            transition-delay: calc(var(--mb-animate-timeout) + 0s);
        }
    }

    &:nth-of-type(3) {
        top: calc(50% + var(--mb-bar-spacing));
        transition: top .2s ease, transform .2s ease, width .2s ease;
        transition-delay: .2s, 0s;

        .show-mobile-menu & {
            top: calc(50% - (var(--mb-bar-height) / 2));
            transform: rotate(225deg);
            transition-delay: calc(var(--mb-animate-timeout) + 0s), calc(var(--mb-animate-timeout) + .2s);
        }
    }
}
/***** End hamburger styles *****/

.main-header__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 20px;
    padding: 10px 0;

    .main-header__wr--sticky & {
        width: 30px;
    }
}

.main-header .main-header__btn-download-description {
    display: none;
    align-self: center;
    margin-left: auto;
    margin-right: 30px;
}

.main-header__nav {

}

.main-header__feedback {
    flex-shrink: 0;
    margin-right: 10px;
    margin-left: auto;
    padding: 10px 0;
}

.main-header__wr--sticky {

    .feedback-small {
        flex-direction: row;
        align-items: stretch;
        padding: 0;
    }

    .feedback-small__schedule {
        display: none;
    }

    .phone {
        display: flex;
        align-items: center;
    }

    .feedback-small__phone {
        margin-bottom: 0;
    }

    .feedback-small__button {
        display: none;
    }
}

.main-header__language-switch {
    flex-shrink: 0;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .main-header__hamburger {
        display: block;
    }

    .main-header .main-header__btn-download-description {
        display: inline-block;
    }

    .main-header__feedback {
        margin-right: 25px;

        .main-header--home & {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .main-header--home {
        padding-top: 10px;
    }

    .main-header__top-only-mobile {
        display: flex;
    }

    .main-header__bottom {

        .main-header--home & {
            justify-content: space-between;
        }

        .main-header--home .main-header__wr--sticky & {
            justify-content: flex-start;
        }
    }

    .main-header__hamburger {

        .main-header--home & {
            margin-right: 0;
        }

        .main-header--home .main-header__wr--sticky & {
            margin-right: 30px;
        }
    }

    .main-header__logo {

        .main-header--home & {
            margin-right: 0;
        }

        .main-header--home .main-header__wr--sticky & {
            margin-right: 20px;
        }
    }

    .main-header--home .main-header__btn-download-description {
        display: none;
    }

    .main-header--home .main-header__feedback {
        display: none;
    }

    .main-header .main-header__wr--sticky .main-header__feedback {
        display: flex;
        margin-left: auto;
    }
}

@media screen and (max-width: 576px) {
    .main-header--inner .main-header__wr:not(.main-header__wr--sticky) .main-header__logo {
        width: 35px;
    }

    .main-header--inner .main-header__bottom .feedback-small {
        flex-direction: row;
        align-items: stretch;
    }

    .main-header--inner .main-header__bottom .phone {
        display: flex;
        align-items: center;
    }

    .main-header--inner .main-header__bottom .feedback-small__button {
        display: none;
    }

    .main-header--inner .main-header__bottom .feedback-small__schedule {
        display: none;
    }

    .main-header--inner .main-header__bottom .feedback-small__phone {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .main-header__hamburger {

        .main-header .main-header__wr--sticky &,
        .main-header--inner & {
            margin-right: 15px;
        }
    }

    .main-header__feedback {

        .main-header__wr--sticky &,
        .main-header--inner & {
            margin-right: 15px;
        }
    }
}

@media screen and (max-width: 370px) {
    .main-header__hamburger {

        .main-header .main-header__wr--sticky &,
        .main-header--inner & {
            margin-right: 30px;
        }
    }

    .phone {

        .main-header__wr--sticky &,
        .main-header--inner & {
            font-size: 0;
            padding: 0 15px;

                &::before {
                    position: static;
                    width: 20px;
                    height: 20px;
                    margin-top: 0;
                }
        }
    }
}
