.map {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: calc(50% - 25px);
}

.map__box {
    height: 655px;
}

@media screen and (max-width: 1200px) {
    .map {
        left: 560px;
    }
}

@media screen and (max-width: 992px) {
    .map {
        position: static;
    }
}
