.model-line {
    position: relative;
    z-index: 1;
    margin-bottom: -200px;
    padding-top: 230px;
    padding-bottom: 280px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.no-js .model-line,
.no-webp .model-line {
    background-image: url("img/bg/model-line.png");
}

.webp .model-line {
    background-image: url("img/bg/model-line.webp");
}

.model-line__title {
    margin-top: 0;
    margin-bottom: 80px;
}

.model-line__list {
    margin: 0;
}

@media screen and (min-width: 2000px) {
    .model-line {
        padding-top: 340px;
    }
}

@media screen and (max-width: 992px) {
    .model-line {
        margin-bottom: -280px;
    }
}

@media screen and (max-width: 768px) {
    .model-line {
        padding-top: 215px;
    }
}

@media screen and (max-width: 576px) {
    .model-line {
        margin-bottom: -410px;
        padding-top: 180px;
        //padding-bottom: 360px;
        padding-bottom: 420px;
    }
}
