.news-slider {

}

.news-slider__wr {
    @include slider-fix(400px);

    margin-right: -10px;
    margin-left: -10px;
}

.news-slider__wr.slick-initialized .slick-track {
    display: flex !important;
}

.news-slider__wr.slick-initialized .slick-slide {
    display: flex;
    height: inherit !important;
}

.slick-initialized .my-slider__item {
    display: flex !important;
}

.news-slider__item {
    padding: 30px 10px;

    &:focus {
        outline: none;
    }
}

.news-slider__arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: 0 0;
    border: none;
    cursor: pointer;
    transform: translate(0, -50%);

    &--prev {
        left: -70px;
    }

    &--next {
        right: -70px;
    }

    svg {
        max-width: 100%;
        max-height: 100%;
        transition: all .15s ease-out;
    }

    &:hover {

        svg {
            fill: $color-main;
        }
    }

    &:focus {
        outline: none;
    }
}

.news-slider .slick-dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.news-slider .slick-dots li {
    padding: 5px;
}

.news-slider .slick-dots button {
    display: block;
    width: 13px;
    height: 13px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: none;
    background-color: #d5d5d5;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}

.news-slider .slick-active button {
    background-color: $color-main;
}

@media screen and (max-width: 1350px) {
    .news-slider__arrow {
        top: 14.2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: #fff;
        border-radius: 50%;
        transform: none;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .15);

        svg {
            height: auto;
        }

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .news-slider__arrow {
        top: 21.2vw;
    }
}

@media screen and (max-width: 768px) {
    .news-slider__arrow {
        width: 40px;
        height: 40px;
        padding: 10px;
    }
}

@media screen and (max-width: 576px) {
    .news-slider__arrow {
        top: 43.5vw;
    }
}