.news {
    padding-top: 175px;
    padding-bottom: 45px;
    background-repeat: no-repeat;
    background-position: left top;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/news.jpg");
    }

    .webp & {
        background-image: url("img/bg/news.webp");
    }
}

.news__title {
    margin-top: 0;
    margin-bottom: 60px;
}

@media screen and (max-width: 1500px) {
    .news {

        .no-js &,
        .no-webp &,
        .webp & {
            background-image: none;
        }
    }
}
