.parameters-table {
    width: 498px;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
}

.parameters-table tr {
    
    &:nth-child(even) {
        background-color: #eeeeee;
    }
}

.parameters-table th,
.parameters-table td {
    padding: 2px 5px;
}

.parameters-table td {
    color: #999696;
    white-space: nowrap;
}

.parameters-table__field {
    width: 45px;
    margin: 0 auto;
    padding: 2px 5px;
    background-color: #fff;
    text-align: center;
    //-moz-appearance: textfield;
    //
    //&::-webkit-inner-spin-button,
    //&::-webkit-outer-spin-button {
    //    -webkit-appearance: none;
    //    margin: 0;
    //}
    //
    &:focus {
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, .3);
    }
}

.parameters__button-box {
    margin: 0;
    padding: 0 15px;
    text-align: right;
}

.parameters__button {
    margin-bottom: 3px;
    margin-left: auto;
}
