.product-gallery {
    @include slider-fix(100%);

    border: 2px solid #e5e5e5;
    border-radius: 3px;
    overflow: hidden;
    // Safari border-radius + overflow: hidden + CSS transform fix
    //-webkit-mask-image: -webkit-radial-gradient(white, black);
}

.product-gallery__item {

}

.product-gallery__link {
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 109.7297297297%;
    background-color: #fff;

    &:focus {
        outline: none;
    }
}

.product-gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
