.product-types-tabs {

}

.product-types-tabs__head {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.product-types-tabs__head-left {
    flex-shrink: 0;
    width: 370px;
    max-width: 100%;
    margin-right: 30px;
    padding-top: 10px;
}

.product-types-tabs__model-name {
    margin-top: 0;
    margin-bottom: 10px;
}

.product-types-tabs__logo {
    margin-left: auto;
}

.product-types-tabs__nav {
    margin: 0 30px 0 0;
    padding: 10px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.product-types-tabs__nav li {

}

.product-types-tabs__nav a {
    display: block;
    padding: 13px 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #b1b1b0;
    border-radius: 4px;
    transition: color .15s ease-out;

    &:hover {
        color: #6f92b7;
    }

    &:focus {
        outline: none;
    }
}

.product-types-tabs__nav .ui-tabs-active a {
    color: #6f92b7;
    background-image: linear-gradient(-93deg, #fff 0%, #f4f3f3 70%, #e8e7e7 100%);
    box-shadow: inset 0 2px 9px rgba(169, 169, 168, .26);

    &:hover {
        color: #6f92b7;
    }
}

@media screen and (max-width: 1200px) {
    .product-types-tabs__head-left {
        width: 340px;
    }

    .product-types-tabs__nav a {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .product-types-tabs__head {
        flex-wrap: wrap;
    }

    .product-types-tabs__head-left {
        order: 1;
    }

    .product-types-tabs__logo {
        order: 2;
    }

    .product-types-tabs__nav {
        order: 3;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        margin-right: 0;
        padding-top: 0;
    }
}

@media screen and (max-width: 576px) {
    .product-types-tabs__head {
        display: block;
    }
    
    .product-types-tabs__head-left {
        width: auto;
        margin-right: 0;
        padding-top: 0;
    }

    .product-types-tabs__logo {
        display: none;
    }
}
