.product-card {
    display: flex;
}

.product-card__left {
    flex-shrink: 0;
    width: calc(36.9685767098% - 30px);
    margin-right: 30px;
}

.product-card__gallery {
    margin-bottom: 4px;
}

.product-card__gallery-side {
    margin-bottom: 41px;
}

.product-card__right {
    width: calc(100% - 36.9685767098%);
}

.product-card__details {
    margin-bottom: 30px;
}

.product-card__details-top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.product-card__status-and-price {
    margin-right: 55px;
}

.product-card__status {
    display: block;
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 1.25;

    &--in-stock {
        color: #b88a25;
    }
}

.product-card__price {
    margin: 0;
    font-size: 20px;
    line-height: 1.25;
    color: #b3b3b3;

    strong {
        margin: 0 5px;
        font-weight: 400;
        font-size: 36px;
        color: $color-secondary;
    }
}

.product-card__button {
    flex-shrink: 0;
    min-width: 205px;
}

.product-card__dropdown {
    margin: 0;
}

@media screen and (max-width: 992px) {
    .product-card {
        display: block;
    }

    .product-card__left {
        width: 370px;
        max-width: 100%;
        margin: 0 auto 50px;
    }

    .product-card__right {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .product-card__details-top {
        display: block;
        margin-bottom: 30px;
    }

    .product-card__status-and-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .product-card__price {
        order: 1;
        margin-bottom: 15px;
    }

    .product-card__status {
        order: 2;
    }

    .product-card__button {
        width: 100%;
    }

    .product-card__dropdown {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 460px) {
    .product-card {

        .product-card__dropdown {
            display: block;
        }

        .dropdown__item {
            position: relative;
            margin-right: 0;
        }
    }
}
