.rating-and-review {
    display: flex;
    align-items: center;
}

.rating-and-review__rating {
    margin-right: 15px;
}

.rating-and-review__btn-review {
    font-size: 18px;
    color: #b3b3b3;
    font-family: "Ubuntu", Tahoma, sans-serif;
    transition: all .15s ease-out;

    &:hover {
        color: $color-main;
    }

    &:focus {
        outline: none;
    }
}