.review {

}

.review__wr {
    display: flex;
}

.review__left {
    flex-shrink: 0;
    width: 259px;
    margin-right: 30px;
}

.review__big-slider {
    margin-bottom: 2px;
}

.review__small-slider {

}

.review__right {
    flex-grow: 1;
    max-height: 490px;
    overflow: auto;
}

.review__author {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 700;
    color: #484747;
}

.review__txt {
    color: #6c6b6a;
}

@media screen and (max-width: 768px) {
    .review__wr {
        flex-direction: column;
    }

    .review__right {
        order: 1;
        max-height: none;
        margin-bottom: 30px;
    }

    .review__left {
        order: 2;
        width: 100%;
        margin: 0 auto;
    }

    .review__big-slider {
        margin-right: -10px;
        margin-bottom: 0;
        margin-left: -10px;
    }
}
