.reviews-slider {
    @include slider-fix(760px);

    width: 800px;
    padding: 37px 55px 55px;
    border-radius: 15px;
    background-color: #f8f8f8;
    box-shadow: 0 0 17px 5px rgba(92, 90, 87, 0.17);
}

.reviews-slider__arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 63px;
    height: 63px;
    padding: 0;
    background-color: #f8f8f8;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
    transition: all .15s ease-out;

    &--prev {
        left: -10px;
    }

    &--next {
        right: -10px;
    }

    &:hover {

        svg {
            fill: $color-main;
        }
    }

    &:focus {
        outline: none;
    }
}
