.stage-item {
    position: relative;
    min-height: 170px;
    padding: 25px 60px 24px;
    background-color: #f4f4f4;
    border-radius: 10px;

    &::before {
        content: "";
        position: relative;
        z-index: 2;
        display: block;
        height: 70px;
        margin-bottom: 11px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        transition: all .3s ease;
    }

    &:hover {

        .stage-item__number {
            transform: scale(1.2);
        }
    }
}

.stage-item__number {
    position: absolute;
    top: 38px;
    left: 5px;
    z-index: 2;
    font-weight: 700;
    font-size: 85px;
    line-height: 1;
    color: #dddbdb;
    transition: all .3s ease;
}

.stage-item__txt {
    position: relative;
    z-index: 2;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    font-family: "Noto Sans", Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
