.work-stages {
    position: relative;
    z-index: 2;
    margin-bottom: -130px;
    padding-top: 160px;
    padding-bottom: 245px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/work-stages.png");
    }

    .webp & {
        background-image: url("img/bg/work-stages.webp");
    }
}

.work-stages__title {
    margin-top: 0;
    margin-bottom: 90px;
}

.work-stages__list {
    margin: -20px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-stages__item {
    margin-top: 20px;
    margin-right: 20px;
    width: calc((99.999% - 60px) / 4);

    &--wide {
        width: 36%;
    }

    &:nth-child(4n),
    &:last-child {
        margin-right: 0;
    }

    &:nth-child(1)::before {
        background-image: url("img/bg/stage-item-1.svg");
    }

    &:nth-child(2)::before {
        background-image: url("img/bg/stage-item-2.svg");
    }

    &:nth-child(3)::before {
        background-image: url("img/bg/stage-item-3.svg");
    }

    &:nth-child(4)::before {
        background-image: url("img/bg/stage-item-4.svg");
    }

    &:nth-child(5)::before {
        background-image: url("img/bg/stage-item-5.svg");
    }

    &:nth-child(6)::before {
        background-image: url("img/bg/stage-item-6.svg");
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 13px;
        right: 13px;
        bottom: 13px;
        left: 13px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: calc(100% - 5px) 35px;
        background-image: url("img/bg/logo-gray.svg");
        // баг в Microsoft Edge
        //background: #fff url("img/bg/logo-gray.svg") no-repeat calc(100% - 5px) 35px;
        background-size: 125px auto;
        border-radius: 10px;
        box-shadow: 0 0 10px -2px rgba(0, 0, 0, .05);
        pointer-events: none;
    }
}

@media screen and (min-width: 1800px) {
    .work-stages {
        padding-bottom: 320px;
    }
}

@media screen and (min-width: 1900px) {
    .work-stages {
        padding-bottom: 390px;
    }
}

@media screen and (max-width: 1200px) {
    .work-stages__item {
        width: calc((99.999% - 40px) / 3);

        &:nth-child(4n) {
            margin-right: 20px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .work-stages {
        margin-bottom: -150px;
    }

    .work-stages__item {
        width: calc((99.999% - 20px) / 2);

        &:nth-child(3n) {
            margin-right: 20px;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 576px) {
    .work-stages {
        margin-bottom: -250px;
        padding-top: 245px;
        padding-bottom: 300px;
    }

    .work-stages__item {
        width: 100%;
        margin-right: 0;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}
