// Colors
$color-main--light:    #f0c259;
$color-main:           #f0b644;
$color-main--dark:     #e8a82d;

$color-secondary:      #1d1d1d;
$color-bg:             #252528;

$model-antistat:       #28527e;
$model-gray:           #80818e;

$gray:                 #cac6c5;

$color-warning:        #fb5258;
$color-warning-bg:     #f3b2b2;
$color-warning-shadow: rgba($color-warning, .7);
